{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": [
      2,
      {
        "code": 120
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ]
  }
}
